
<div class="header">
  <h1>Follow Your Ph Levels To Good Health!</h1>
</div>

<div class="header2">
  <h2>Ph levels make a big difference in our bodies. Up with alkaline, down with acid!</h2>
</div>


<% if @ph %>
  <% @ph.errors.each do |c, msg| %>
  <li><%= c %><%= msg %></li>
  <%end%>
<%end%>






<table class="table six columns">
<tr><td colspan="7" class="title"><h3>Karen's Ph Stats:</h3></td></tr>
  <tr>
    <th>Date/Time</th>
    <th>Ph Reading</th>
    <th>Mood</th>
    <th>Hangry?</th>
  </tr>
    <% @stats.each do |n| %>
      <tr>
        <td> <%= n.created_at.localtime.strftime("%b %e, %l:%M %p") %> </td>
        <td> <% if n.reading >= 7.3 %>
               <font color="green"><b><%= n.reading%></font></b>
              <% else %>
               <font color="red"><b><%= n.reading%></font></b>
              <% end %></td>
        <td> <%= n.mood %> </td>
        <td> <% if n.hangry == true %>
                  Yes
              <% else %>
                  No
              <% end %></td>
          <div class="buttons">
            <td>

            <li>
              <form action="/index/edit/<%= n.id %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="_method" value="GET" />
                <input class="button" type="submit" value="Edit" />
              </form>
            </li></td>
            <td><li>
              <form action="/index/<%= n.id %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="_method" value="DELETE" />
                <input class="button" type="submit" value="Delete" data-confirm="Delete the data?"/>
              </form>
            </li></td>

          </div>

      </tr>
    <% end %>
</table>


  <div class="upper five columns">
    <h3 class="hvr-pulse toggle">Enter Your Stats!</h3>
      <div class="show" style="display:none">
        <%=form_tag "/index", class: "input five columns" do %>
          <div>
            <h4><%=label_tag "ph Reading"%></h4>
              <%=text_field_tag "ph[reading]", nil, placeholder: "Ph Reading", class: "text-field" %>
          </div>
          <div>
            <h4><%=label_tag :mood%></h4>
            <%=text_field_tag "ph[mood]", nil, placeholder: "Current Mood", class: "text-field" %>
          </div>
          <div>
            <h4>Hangry?
              <%= radio_button_tag "ph[hangry]", true %>Yes
              <%= radio_button_tag "ph[hangry]", false %>No
            </h4>
          </div>
          <%= submit_tag "Enter Data" %>
        <% end %>
      </div>
  </div>




    <div class="inspiration four columns">
      <h3>You're on your way to feeling great!</h3>
    </div>



<%=image_tag "PH-Level.jpg", class:"image"%> 
