<% require 'time' %>

<div class = "header">

<h1>STATS</h1></div


<% if @ph %>
  <% @ph.errors.each do |c, msg| %>
  <li><%= c %><%= msg %></li>
  <%end%>
<%end%>

<div = "form1">


  <%= form_tag "/index" do %>

  <div>
  <h4><label for= "reading">Ph Reading</label></h4>
    <input type="text-field" id="reading"  name="ph[reading]"/>
  </div>

  <div>
    <h4><label for= "mood">Mood</label></h4>
      <input type="text-field" id="mood"  name="ph[mood]"/>
  </div>

  <div>
    <h4>Hangry?
      <input type="radio" id="hangry_true"  name="ph[hangry]" value="true"/>Yes
      <input type="radio" id="hangry_false"  name="ph[hangry]" value="false"/>No
      </h4>
  </div>


    <%= submit_tag %>
  <% end %>
  </div>
<h3>Saliva Ph Stats:</h3>

<table class="table">

  <tr>
    <th>Date/Time</th>
    <th>Ph Reading</th>
    <th>Mood</th>
    <th>Hangry?</th>
  </tr>
    <% @stats.each do |n| %>
      <tr>
        <td> <%= n.created_at.strftime("%b %e, %l:%M %p") %> </td>
        <td> <%= n.reading %> </td>
        <td> <%= n.mood %> </td>
        <td> <%= n.hangry %> </td>
          <div class="buttons">
            <td>

            <li>
              <form action="/index/edit/<%= n.id %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="_method" value="GET" />
                <input class="button" type="submit" value="Edit Stat" />
              </form>
            </li></td>
            <td><li>
              <form action="/index/<%= n.id %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="_method" value="DELETE" />
                <input class="button" type="submit" value="Delete Stat" data-confirm="Delete the data?"/>
              </form>
            </li></td>

          </div>

      </tr>
    <% end %>
</table>
